<a href="https://colab.research.google.com/github/REMIEGIA/Remie-Gia-Venus-Pastor---Miss-M./blob/Miss-Evernight/102021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DEF SUM

In [3]:
def sum(i1, i2):
  result = 0
  for i in range(i1, i2):
    return result

def main():
    print("Sum from 1 to 15 is", sum(1, 16))
    print("Sum from 19 to 46 is", sum(19, 47))
    print("Sum from 50 to 76 is", sum(50, 77))

main() # Call the main function

Sum from 1 to 15 is 0
Sum from 19 to 46 is 0
Sum from 50 to 76 is 0

In [10]:
def sum(i1, i2, i3):
    result = 0
    for i in range(i1, i2, i3):
        result += i
    return result

def main():
    print("Sum from 1 to 15 is", sum(1, 16, 1)) 
    print("Sum from 19 to 46 is", sum(20, 47, 2))
    print("Sum from 50 to 76 is", sum(50, 78, 3))

main() # Call the main function

Sum from 1 to 15 is 120
Sum from 19 to 46 is 462
Sum from 50 to 76 is 635

#DEF SWAP

In [38]:
def swap(x,y):
  x,y = y,x
  return (x,y)

if __name__ == '__main__':
    x = 15
    y = 26
    print('x = %d,y = %d' % (x,y))
    x,y = swap (x, y)
    print('x = %d,y = %d' % (x,y))

x = 15,y = 26
x = 26,y = 15

#DEF SORT

In [72]:
def sort(number1, number2, number3):
   if (number1 < number2) and (number1 < number3):
        if number2 < number3:
            return number1, number2, number3
        else:
            return number1, number3,number2
        if (number2 < number1) and (number2 < number3):
          if number1 < number3:
              return number2, number1,number3
        else:
          return number2, number3,number1
        if (number3 < number1) and (number3 < number2):
          if number1 < number2:
            return number3, number1,number2
        else:
          return number3, number2,number1

num1, num2, num3 = sort(27,35,28)

print("num1 is", num1)
print("num2 is", num2)
print("num2 is", num3)

num1 is 27
num2 is 28
num2 is 35

#Default Positional arguments Keyword arguments

In [106]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 18, height = 16):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

#Default arguments

In [97]:
printArea()

width: 18 	height: 16 	area: 288

#Keyword arguments

In [98]:
printArea(width = 16, height = 14)

width: 16 	height: 14 	area: 224

In [92]:
printArea(height = 14, width = 16)

width: 16 	height: 14 	area: 224

#Positional arguments

In [93]:
printArea(16,14)

width: 16 	height: 14 	area: 224

In [94]:
printArea(14,16)

width: 14 	height: 16 	area: 224

#Lambda Function

In [108]:
f1 = lambda x, y, z: x+5*y+6*z
print(f1(2,3,1))

23

In [117]:
def myfunc(m): 
  return m*m 
  
my_list = [11, 14, 17, 19, 25]
  
## 使用python的map() 
   
print(list(map(lambda x:myfunc(x), my_list)))

[121, 196, 289, 361, 625]